.default-button {
    gap: 10px;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: transparent;
    padding: 14px 70px;
    cursor: pointer;
    z-index: 0;
    border-radius: 30px;
    color: var(--primary-text-color);
  }
  
  .default-button::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 30px;
    background-color: var(--primary-bg-color);
  }
  
  .default-button:hover::before {
    filter: contrast(0.75);
  }
  
.block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .icon {
    width: 20px;
  }
  
  .primary .icon {
    color: var(--primary-text-color);
  }
  
  .secondary .icon {
    color: var(--secondary-text-color);
  }
  
  .default-button.circle {
    width: 56px;
    height: 56px;
    padding: 0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .circle .icon{
    color: var(--primary-icon-color);
  }
  
  .secondary::before {
    background-color: var(--secondary-bg-color);
    color: var(--secondary-text-color);
  }
  
  .secondary {
    color: var(--secondary-text-color);
  }
  
  .primary::before {
    background-color: var(--primary-bg-color);
  }
  
  .primary {
    color: var(--primary-text-color);
  }
  
  .default.outline::before {
    background-color: transparent;
    border: 1px solid var(--primary-border-color);
  }
  
  .default.outline {
    color: var(--primary-border-color);
  }
     